body {
    background-color: gray;
}

#canvas {
    z-index: 10;
    border: solid 1px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

#snake {
    display: none;
}

#gameOverBox {
    padding-top: 25px;
    z-index: 100000;
    text-align: center;
    width: 420px;
    height: 50px;
    background-color: cornflowerblue;
    position: absolute;
    left: 190px;
    top: 240px;
}
