body {
    background-color: gray;
}

#canvasBox {
    text-align: center;
    margin-left: 10px;
    z-index: 1000000;
}

#canvas {
    border: solid 1px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
}

#snake {
    display: none;
}

#gameOverBox {
    text-align: center;
}

#gameOver {
    box-shadow: 5px 5px 10px grey;
    border-radius: 8px;
    padding-top: 25px;
    z-index: 1000000;
    text-align: center;
    width: 420px;
    height: 50px;
    background-color: #cdcdcd;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}

#leaderBoardBox {
    text-align: center;
}

#leaderBoard {
    border-radius: 8px;
    box-shadow: 5px 5px 10px #555555;
    background-color: #e7e7e7;
    position: absolute;
    width: 210px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}
